#contact{
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(239 239 239);
    width: 100%;
    margin-top: 20px;
}
.contacticon{
    margin-top: 20px;
}
.iconscontact{
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between !important;
   gap: 20%;

}

.textscolors{
    color: purple !important;
  }
@media (max-width: 576px) {
    .Container {
      max-width: 100%;
    }
    .footers{
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .logos{
        justify-content: center !important;
    }
    .iconscontact{
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .contacticon{
        align-items: center !important;
    }
    .hreffoter{
        gap: 20px !important;
        margin-top: 10px;
    }
  }